* {
	box-sizing: border-box;
	font-family: 'Mada';
}

body {
	background: url(mario.jpg);
	/* background-position: center; */
	background-repeat: no-repeat;
	background-size: contain;
	background-color: #929292;
}

#container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(3, minmax(0, auto));
	margin: 20px 80px;
}

main {
	grid-row: 2/3;
	grid-column: 3/6;
	width: 380px;
	margin: 0 auto;
	background-color: white;
	border-radius: 5px;
	box-shadow: 5px 5px 3px rgba(82, 79, 79, 0.534);
	padding: 20px;
	position: relative;
	top: -15%;
	left: 20%;
}

p {
	margin: 0;
}

input {
	display: block;
	margin-bottom: 10px;
}

span {
	display: block;
	margin-bottom: 20px;
	color: rgb(168, 28, 28);
}

input#cardnum {
	display: block;
	width: 100%;
	padding: 5px;
}

input#cardnum:focus {
	border: 1px solid rgb(83, 83, 156);
	box-shadow: 3px 3px 5px rgb(26, 25, 25);
}

input#cardHolder {
	display: block;
	width: 100%;
	padding: 5px;
}

input#month {
	width: 30%;
	display: inline-block;
	padding: 5px;
}

input#year {
	width: 30%;
	display: inline-block;
	padding: 5px;
	margin-left: 5px;
}

input#cvv {
	width: 20%;
	margin-left: 15%;
	display: inline-block;
	padding: 5px;
}

input#submit {
	width: 100%;
	padding: 5px 20px;
	color: white;
	background-color: rgb(31, 31, 128);
	border: none;
}

form {
	margin-top: 80px;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(3, minmax(0, auto));
}

form .line {
	grid-row: 3/4;
}

form>span {
	display: none;
}

.card {
	width: 323.5px;
	height: 204.09px;
	border-radius: 10px;
	margin: 0 auto;
	transition: all 1s 2s;
	grid-row: 1/2;
	grid-column: 4/7;
	opacity: 1;
	padding: 10px;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(3, minmax(0, auto));
	background-image: url('map.png');
	color: white;
	background-position: center;
	background-size: cover;
	background-color: #df9f32;
	position: relative;
	z-index: 2;
	transition: all 1s 1s;
	box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.527);
}

.silver {
	grid-row: 2/3;
	grid-column: 1/4;
}

.cardtype {
	grid-row: 2/3;
	grid-column: 11/13;
	text-align: justify;
}

.inputhere {
	grid-row: 3/4;
	grid-column: 1/13;
	border: 1px solid white;
	border-radius: 5px;
	display: inline-grid;
	align-items: center;
	margin-bottom: 15px;
	height: 30px;
}

.inputhere ul {
	display: grid;
	grid-column: 1/13;
	padding: 0;
	margin: 0;
}

.inputhere li {
	list-style-type: none;
	font-weight: bold;
	letter-spacing: 7px;
}

.inputhere li.first {
	grid-column: 2/4;
}

.inputhere li.second {
	grid-column: 5/7;
}

.inputhere li.third {
	grid-column: 9/11;
}

.inputhere li.fourth {
	grid-column: 12/13;
}

.carduser {
	grid-row: 4/5;
	grid-column: 1/8;
	text-transform: uppercase;
}

.carduser small {
	font-size: 10px;
	font-weight: bold;
}

.expire {
	grid-row: 4/5;
	grid-column: 10/13;
}

.backcard {
	background: #2f7336;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #aa3a38, #2f7336);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right,
			#aa3a38,
			#2f7336);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	width: 323.5px;
	height: 204.09px;
	border-radius: 10px;
	margin: 0 auto;
	transform: rotatey(90deg);
	transition: all 1s 1s;
	grid-row: 1/2;
	grid-column: 4/7;
	opacity: 1;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(3, minmax(0, auto));
	box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.527);
}

.backcard .black {
	grid-row: 2/3;
	grid-column: 1/13;
	width: 100%;
	background-color: #000;
}

.backcard .white {
	grid-row: 3/4;
	grid-column: 1/13;
	background-color: #fff;
	margin: 20px 10px;
	border-radius: 5px;
	height: 30px;
	text-align: right;
	padding: 5px;
}

.backcard .cardlogo {
	grid-row: 4/5;
	grid-column: 11/13;
}

.rotateF {
	/* transform: rotateX(90deg); */
	opacity: 0;
	transform: rotateY(90deg);
}

.rotateB {
	opacity: 1;
	transform: rotateY(0deg);
}

@media screen and (max-width:400px) {

	#container {
		position: relative;
		left: -28%;
	}

	main {
		width: 350px;
	}
}